services:
  nginx:
    build: ./requirements/nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html
      - wordpress_uploads:/var/www/html/wp-content/uploads
    depends_on:
      - wordpress
    restart: unless-stopped
    networks:
      - my-network

  wordpress:
    build: ./requirements/wordpress
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
      - wordpress_uploads:/var/www/html/wp-content/uploads
    depends_on:
      - mariadb
    restart: unless-stopped
    networks:
      - my-network

  mariadb:
    build: ./requirements/mariadb
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - my-network

volumes:
  mariadb_data: {}
  wordpress_data: {}
  wordpress_uploads: {}
  # mariadb_data:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     o: bind
  #     device: /home/pnamwayk/data/mariadb

  # wordpress_data:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     o: bind
  #     device: /home/pnamwayk/data/wordpress

  # wordpress_uploads:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     o: bind
  #     device: /home/pnamwayk/data/wordpress/uploads

networks:
  my-network: {}
